.Product-desc-landing {
  display: flex;
  margin-top: 30px;
  padding: 25px;
}
.about-product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.desc-product {
  font-size: 25px;
  padding: 1rem;
}
.price-product {
  text-align: center;
  font-size: 25px;
}
.btn-buy {
  display: flex;
  justify-content: center;
}
.btn-buy button {
  cursor: pointer;
  overflow: hidden;
  width: 10rem;
  height: 3rem;
  background-color: rgb(45, 211, 92);
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10rem;
}
